@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<hr />
<h1>From Books List</h1>
<ul>
    <li>Wasted in Engineering</li>
    <li>Harry Potter and a half blood prince</li>
    <li>Lord Of Rings</li>
    <li>Game Of Thrones</li>
</ul>