@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<hr />
<h1> From Deapool List</h1>
<ul>
    <li>SpiderGwen</li>
    <li> SheHulk</li>
    <li>CaptianMarvel</li>
</ul>